<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<% @authorslist = @paper.authors %>
<% if @authorslist %>
  <p>
  <strong>Authors:</strong>
  <% @authorslist.each do |list| %>
    <p><%= link_to Authors.find_by(id: list).name, author_path(list) %></p>
  <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
